/**
 * _landing.scss
 * Styles for the landing page
 */

.landing-title {
    color: $post-title-color;
    text-align: center;
    border-bottom: 1px solid #c0c0c0;
    padding-bottom: 0.7rem;
}

span.logo {
color: #fff;
background: #0A3b76;
font-weight: bold;
width: 1.6em;
height: 1.6em;
border-radius: 50px;
line-height: 1.6em;
margin: 0 1rem;
padding: 0;
display: inline-block;
}
